{
  "presets": [
    [
      "env",
      {
        "target": {
          "node": 6
        }
      }
    ]
  ],
  "plugins": ["syntax-flow", "transform-flow-strip-types", "transform-async-to-generator"]
}
